:root.theme-dark {
--accent-color: #ff0070;
--bg-color: #000028;
--text-shadow-color: #FF0070;
--header-color:#DB00FF;
--text-paragraph-bg: #ff0070;
--paragraph-decor-color: #000028;
--contet-paragraph-color: #F1B2CE;
--article-link-color: rgba(241, 178, 206, 1); 
--header-bg-color: url(../images/cover-image-dark.png);
--button-color: #ff0070;
}

.theme-dark .rec {
display: block;
} 