/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Адаптив мобильная версия 375px dark */

.page {
font-family: var(--font-family);
justify-content: center;
align-items: center;
background-image: var(--header-bg-color);
background-color: var(--bg-color);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.header {
display: grid;
grid-template-rows: 1fr min-content 1fr;
padding: 10px 10px 10px 10px;
height: 100vh;
min-height: 668px;
}

.decorated-zone {
position: relative;
}

.decorated-zone::before {
content: ' ';
position: absolute;
top: 10px;
right: 10px;
height: 25px;
width: 25px;
border-top: 1px solid var(--accent-color); 
border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
content: ' ';
height: 25px;
width: 25px;
inset-inline-start: 10px;
bottom: 12px;
position: absolute;
border-left: 1px solid var(--accent-color); 
border-bottom: 1px solid var(--accent-color);
}

.rec {
position: absolute;
top: 13px;
right: 40px;
color: var(--accent-color);
}

.rec::after {
position: absolute;
top: 5px;
right: -20px;
content: '';
display: inline-flex;
inline-size: 9px;
block-size: 9px;
border-radius: 50%;
background-color: var(--accent-color);
filter: drop-shadow(0px 0px 4px var(--accent-color));
}

/*Список*/

.header__theme-menu {
justify-self: end;
line-height: 18px;
margin-block-start: 60px;
}

.header__theme-menu-list { 
display: flex;
flex-direction: column;
list-style: none;
flex-wrap: wrap;
text-decoration: none;
gap: 10px;
}

.header__theme-menu-item {
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-align: center;
color: var(--accent-color);
}

.header__theme-menu-button {
text-transform: lowercase;
color: var(--accent-color);
border: 1px solid transparent;
cursor: pointer;
min-height: 26px;
padding: 0 13px;
font-family: inherit;
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-align: center;
background-color: transparent;
user-select: none;
}

.header__theme-menu-button:focus {
outline: none;
}

.header__theme-menu-button:focus-visible {
border-bottom: 1px solid var(--accent-color);
outline: none;
}

.header__theme-menu-button:hover  {
border-color: rgba(var(--accent-color), var(--alpha));
}

.header__theme-menu-button_active {
border-color: var(--accent-color);
pointer-events: none;
}

/*Заголовок с тенью*/

.title {
font-weight: 700;
font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
line-height: 82.5%;
text-shadow: 4px 4px 0px var(--text-shadow-color); 
color: var(--header-color);
}

.title__text {
justify-self: end;
color: #000028;
margin-top: 55px;
}

.title__paragraph-text {
font-family: inherit;
font-weight: 700;
line-height: 23.4px;
background-color: var(--text-paragraph-bg);
font-size: 18px;
padding-bottom: 22px;
}


/*Контент с параграфами*/

main {
padding: 0 10px;
}

.content-section-focus {
display: grid;
gap: 20px;
}


.content__text-block {
display: block;
}

.content-section-concentration {
display: grid;
gap: 20px;
}

.content-section-advise {
display: grid;
gap: 22px;
}

.content-title {
font-size: var(--main-font-size);
line-height: 22.2px;
color: var(--accent-color);
padding-top: 39px;
}

.title-decor {
background-color: var(--text-paragraph-bg);
color: var(--paragraph-decor-color);
display: block;
margin-bottom: 12px;
}

.subtitle-decor {
color: var(--paragraph-decor-color);
font-family: inherit;
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: 23.4px;
background-color: var(--text-paragraph-bg);
}

.content__paragraph {
opacity: 1;
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 23.4px;
color: var(--contet-paragraph-color);
margin-top: 8px;
}

.article__link-decoration {
text-decoration: none;
text-shadow: 2px 2px var(--article-link-color);
color: var(--accent-color);
}

.article__link-decoration:hover {
border-block-end: 1px solid var(--accent-color);
}

.article__link-decoration:focus {
outline: none;
}

.article__link-decoration:focus-visible {
border: 1px solid var(--article-link-color);
}

.article  {
padding: 0 10px 0 10px;
}

/*Галерея с картинками*/

.gallery {
margin-top: 30px;
}

.title__gallery-decor {
min-width: 100%;
background-color: var(--text-paragraph-bg);
color: var(--paragraph-decor-color);
font-size: 18px;
}

.gallery__picture-list {
display: grid;
gap: 10px;
grid-template-columns: 1fr;
grid-auto-rows: auto;
list-style: none;
padding: 0;
margin-top: 12px;
}

.gallery__picture-list-item {
display: block;
object-position: center;
object-fit: cover;
block-size: 100%;
inline-size: 100%;
}

.gallery__picture-list-item .image__item {
width: 100%;
height: 100%;
object-fit: cover;
}

/*Футер*/

.footer {
height: 100vh;
min-height: 668px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
margin-block-start: 30px;
}

.title.footer__title {
text-shadow: 2px 2px 0 var(--text-shadow-color);
}


/*Адаптив для 768px*/

@media (width >=768px) {
  
.rec {
top: 23px;
right: 48px;
}

.rec::after {
right: -20px;
}

.decorated-zone::before {
top: 20px;
right: 20px;
}

.decorated-zone::after {
bottom: 20px;
left: 18px;
}

.header {
height: 100vh;
min-height: 1024px;
padding: 20px 20px 20px 0px;
}

.header__theme-menu {
margin-top: 170px;
}

.title__text {
margin-top: 163px;
max-width: 364px;
}

.main {
padding: 0 20px;
}

.content-section-focus {
grid-template-columns: 1fr 1fr;
}

.content-section-focus >.content__text-block:nth-child(n + 2) {
grid-column: 2 / 3;
min-width: 472px;
max-height: 314px;
margin-block-start: 60px;
margin-bottom: -60px;
}

.content-title {
max-width: 236px;
margin-top: 20px;
}

.content-section-concentration {
grid-template-columns: 1fr;
margin-top: 80px;
}

.content-section-concentration .content__text-block {
grid-column: 1 / 3;
}

.title-decor {
min-width: 100%;
}

.subtitle-decor {
max-width: 472px;
}

.content-section-advise {
gap: 20px;
}

.content-section-advise .content__text-block {
grid-column: 2 / 3;
padding: 0px 0px 5px 0px;
}

.content-section-advise .title-decor {
margin-top: 75px;
line-height: 23px;
min-width: 100%;
}

.images {
flex-direction: column;
gap: 10px;
}

.gallery {
margin-block-start: 70px;
}

.title__gallery-decor {
min-width: 100%;
}

.gallery__picture-list {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto auto auto auto;
gap: 20px;
row-gap: 20px;
padding-top: 10px;
}
 
.gallery__picture-list-item:first-child {
min-height: 192px;
grid-column: 1 / 3;
}

.gallery__picture-list-item:nth-child(2) {
min-height: 442px;
grid-column: 3 / 4;
grid-row: 1 / 3;
}

.gallery__picture-list-item:nth-child(3) {
min-width: 229px; 
grid-row: 2 / 4;
}

.gallery__picture-list-item:nth-child(4) {
min-height: 230px;
grid-column: 2 / 3;
grid-row: 2 / 3;
}

.gallery__picture-list-item:nth-child(5) {
min-width: 479px; 
min-height: 318px;
grid-column: 2 / 4;
}

.footer.decorated-zone {
min-height: 1024px;
height: 100vh;
margin-block-start: 18px;
}

footer.decorated-zone::before {
top: 15px;
right: 20px;
}
    
footer.decorated-zone::after {
margin-left: 3px;
}
}


/*Адаптив для 1024px*/

@media (width >=1024px) {


.header {
min-height: 786px;
height: 100vh;
position: relative;
align-items: start;
}

.header__theme-menu {
justify-self: center;
margin-block-start: inherit;
margin-left: 20px;
}

.header__theme-menu-list {
flex-direction: row;
gap: 10px;
}

.decorated-zone::before {
top: 20px;
right: 20px;
}

.decorated-zone::after {
left: 20px;
bottom: 35px;
}

.rec {
top: 23px;
right: 48px;
}

.title {
font-size: 157px;
margin-bottom: 10px;
}

.title__text {
max-width: 491px;
margin-top: 100px;
}

.title__paragraph-text {
padding-bottom: 0px;
}

.content-section-focus {
gap: 20px;
}

.content-title {
max-width: 314px;
padding-top: 20px;
}

.content-section-focus >.content__text-block:nth-child(n + 2) {
min-width: 650px;
margin-block-start: 45px;
margin-bottom: -50px;
}

.content-section-concentration {
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-top: 90px;
}

.content-section-concentration .content__text-block {
grid-row: 2 / 3;
grid-column: auto;
}

.content-section-concentration > .content-title {
max-width: 315px;
grid-row: 1 / 1;
}

.content-section-concentration > .content__paragraph {
max-width: 315px;
}

.content-section-advise {
margin-top: 30px;
}

.content-section-advise .title-decor {
margin-top: 45px;
}

.content-section-advise .content__text-block {
grid-column: 2 / 4;
padding: 5px 0px 0px 0px;
}

.subtitle-decor {
max-width: 100%;
}

.gallery { 
margin-block-start: 70px;
display: grid;
}

.title__gallery-decor {
min-width: 100%;
}

.gallery__picture-list {
grid-template-rows: auto auto auto;
}

.gallery__picture-list-item:first-child {
min-height: 260px;
grid-column: 1 / 3;
}

.gallery__picture-list-item:nth-child(2) {
width: 100%;
height: 100%;
grid-column: 3 / 5;
grid-row: 1 / 3;
}

.gallery__picture-list-item:nth-child(3) {
grid-row: 2 / 4;
width: 100%;
height: 100%;
}

.gallery__picture-list-item:nth-child(4) {
height: 100%;
}

.gallery__picture-list-item:nth-child(5) {
width: 100%;
height: 100%;
grid-column: 2 / 5;
}

footer.decorated-zone::before {
top: 15px;
right: 20px;
}

footer.decorated-zone::after {
bottom: 25px;
}

.footer.decorated-zone {
position: relative;
min-height: 768px;
height: 100vh;
justify-content: center;
align-items: center;
}

.title.footer__title {
margin-left: 5px;
}
}
