/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Адаптив мобильная версия 375px dark */

.page {
font-family: var(--font-family);
justify-content: center;
align-items: center;
background-image: var(--header-bg-color);
background-color: var(--bg-color);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.header {
display: grid;
grid-template-rows: 1fr min-content 1fr;
padding: 10px 10px 10px 10px;
max-width: 375px;
min-height: 668px;
}

.decorated-zone {
position: relative;
}

.decorated-zone::before {
content: ' ';
position: absolute;
top: 10px;
right: 10px;
height: 25px;
width: 25px;
border-top: 1px solid var(--accent-color); 
border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
content: ' ';
height: 25px;
width: 25px;
inset-inline-start: 10px;
bottom: 12px;
position: absolute;
border-left: 1px solid var(--accent-color); 
border-bottom: 1px solid var(--accent-color);
}

.rec {
position: absolute;
top: 13px;
right: 40px;
color: var(--accent-color);
}

.rec::after {
position: absolute;
top: 5px;
right: -20px;
content: '';
display: inline-flex;
inline-size: 9px;
block-size: 9px;
border-radius: 50%;
background-color: var(--accent-color);
filter: drop-shadow(0px 0px 4px var(--accent-color));
}

/*Список*/

.header__theme-menu {
justify-self: end;
line-height: 18px;
margin-block-start: 60px;
}

.header__theme-menu-list { 
display: flex;
flex-direction: column;
list-style: none;
flex-wrap: wrap;
text-decoration: none;
gap: 13px;
}

.header__theme-menu-item {
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-align: center;
color: var(--accent-color);
}

.header__theme-menu-button {
text-transform: lowercase;
color: var(--accent-color);
border: 1px solid transparent;
cursor: pointer;
min-height: 26px;
padding: 0 13px;
font-family: inherit;
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-align: center;
background-color: transparent;
}

.header__theme-menu-button:focus {
outline: none;
}

.header__theme-menu-button:focus-visible {
border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
border: 1px solid rgba(var(--accent-color), var(--alpha));
}

.header__theme-menu-button_active {
border: 1px solid var(--accent-color);
pointer-events: none;
}

/*Заголовок с тенью*/

.title {
font-weight: 700;
font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
line-height: 82.5%;
text-shadow: 4px 4px 0px var(--text-shadow-color); 
color: var(--header-color);
}

.title__text {
justify-self: end;
color: #000028;
margin-top: 58px;
}

.title__paragraph-text {
font-family: inherit;
font-weight: 700;
line-height: 23.4px;
background-color: var(--text-paragraph-bg);
font-size: 18px;
padding-bottom: 22px;
}


/*Контент с параграфами*/

main {
max-width: 375px;
}

.content-section-focus {
max-width: 375px;
padding: 0 10px 10px 10px;
display: grid;
gap: 20px;
}

.content__text-block {
display: flex;
flex-direction: column;
}

.content-section-concentration {
max-width: 375px;
padding: 0 10px 10px 10px;
display: grid;
}

.concentration-container__lot-of-questions {
margin-top: 20px;
}

.concentration-container__food {
margin-top: 20px;
}

.concentration-container__gadgets {
margin-top: 20px;
}

.content-section-advise {
max-width: 375px;
padding: 0 10px 10px 10px;
display: grid;
gap: 20px;
}

.advise-container__sky {
display: flex;
align-items: center;
}

.advise-container__music {
display: flex;
align-items: center;
}

.advise-container__walk {
display: flex;
align-items: center;
}

.advise-container__food {
display: flex;
align-items: center;
}

.advise-container__books {
display: flex;
align-items: center;
}

.content-title {
font-size: var(--main-font-size);
line-height: 22.2px;
color: var(--accent-color);
padding-top: 40px;
}

.title-decor {
background-color: var(--text-paragraph-bg);
color: var(--paragraph-decor-color);
display: block;
margin-bottom: 10px;
}

.subtitle-decor {
color: var(--paragraph-decor-color);
font-family: inherit;
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: 23.4px;
background-color: var(--text-paragraph-bg);
margin-top: 10px;
}

.content__paragraph {
opacity: 1;
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 23.4px;
color: var(--contet-paragraph-color);
}

.article__link-decoration {
text-decoration: none;
text-shadow: 2px 2px var(--article-link-color);
color: var(--accent-color);
}

.article__link-decoration:hover {
border-block-end: 1px solid var(--accent-color);
}

.article__link-decoration:focus {
border: 1px solid var(--article-link-color);
}

.article__link-decoration:focus-visible {
border: 1px solid var(--article-link-color);
}

.article  {
padding: 0 10px 0 10px;
}


/*Галерея с картинками*/

.gallery {
max-width: 375px;
padding: 10px;
margin-top: 40px;
}

.title__gallery-decor {
min-width: 355px;
background-color: var(--text-paragraph-bg);
color: var(--paragraph-decor-color);
font-size: 18px;
}

.gallery__picture-list {
display: grid;
gap: 10px;
grid-template-columns: 1fr;
grid-template-rows: 142px 355px 237px 355px 237px;
margin-top: 12px;
}

.gallery__picture-list-item {
display: block;
object-position: center;
object-fit: cover;
block-size: 100%;
inline-size: 100%;
}

.gallery__picture-list-item .image__item {
width: 100%;
height: 100%;
object-fit: cover;
}

/*Футер*/

.footer {
min-height: 668px;
max-width: 375px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
margin-block-start: 30px;
}

.title.footer__title {
text-shadow: 2px 2px 0 var(--text-shadow-color);
}


/*Адаптив для 768px*/

@media (width >=768px) {
  
.rec {
top: 23px;
right: 48px;
}

.rec::after {
right: -20px;
}

.decorated-zone::before {
top: 20px;
right: 20px;
}

.header {
max-width: 768px;
min-height: 1024px;
padding: 20px 20px 20px 0px;
}

.header__theme-menu {
margin-top: 170px;
}

.title__text {
margin-top: 160px;
max-width: 364px;
}

.main {
max-width: 768px;
}

.content-section-focus {
max-width: 768px;
padding: 0 20px 20px 20px;
}

.focus-container__multitasking {
grid-column: 2/4;
margin-block-start: 60px;
}

.focus-container__dofamin {
grid-column: 2/4;
}

.content-title {
max-width: 236px;
margin-block-start: 20px;
}

.content-section-concentration {
max-width: 768px;
padding-left: 20px;
}

.subtitle-decor {
max-width: 472px;
}

.content-section-advise {
display: grid;
max-width: 768px;
padding: 0px 20px 20px 20px;
}

.advise-container__sky {
max-width: 472px;
grid-column: 2 / 3;
margin-top: 70px;
}

.advise-container__music {
grid-column: 2 / 3;
}

.advise-container__walk {
grid-column: 2 / 3;
}

.advise-container__food {
grid-column: 2 / 3;
}

.advise-container__books {
grid-column: 2 / 3;
}

.content-section-advise .content__text-block {
grid-column: 2 / 4;
max-width: 472px;
}

.images {
flex-direction: column;
gap: 10px;
}

.gallery {
max-width: 768px;
margin-block-start: 60px;
padding: 10px 20px 0px 20px;
}

.title__gallery-decor {
max-width: 730px;
}

.gallery__picture-list {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 192px 192px 192px 192px;
gap: 20px;
row-gap: 20px;
padding-top: 10px;
}

.gallery__picture-list-item:first-child {
min-width: 479px;
height: 192px;
grid-column: 1 / 3;
}

.gallery__picture-list-item:nth-child(2) {
min-width: 229px;
min-height: 442px;
grid-column: 3 / 4;
grid-row: 1 / 3;
}

.gallery__picture-list-item:nth-child(3) {
min-width: 229px; 
min-height: 568px;
grid-row: 2 / 4;
}

.gallery__picture-list-item:nth-child(4) {
min-width: 230px; 
height: 230px;
grid-column: 2 / 3;
grid-row: 2 / 3;
}

.gallery__picture-list-item:nth-child(5) {
min-width: 479px; 
min-height: 318px;
grid-column: 2 / 4;
margin-top: 40px;
}

.footer.decorated-zone {
min-height: 1024px;
max-width: 768px;
padding: 20px 20px 20px 20px;
margin-top: 10px;
}

footer.decorated-zone::before {
top: 20px;
right: 20px;
}
    
footer.decorated-zone::after {
margin-left: 10px;
}
}


/*Адаптив для 1024px*/

@media (width >=1024px) {

.page {
max-width: 1024px;
}

.header {
min-height: 786px;
max-width: 1024px;
position: relative;
align-items: start;
padding: 20px;
}

.header__theme-menu {
justify-self: center;
margin-block-start: 0px;
}

.header__theme-menu-list {
flex-direction: row;
gap: 10px;
}

.decorated-zone::before {
top: 20px;
right: 20px;
}

.decorated-zone::after {
left: 20px;
bottom: 35px;
}

.rec {
top: 23px;
right: 48px;
}

.title {
font-size: 157px;
margin-left: -15px;
}

.title__text {
max-width: 491px;
margin-top: 105px;
}

.title__paragraph-text {
padding-bottom: 0px;
}

.title_description {
max-width: 50%;
}

.main {
max-width: 1024px;
}

.content-section-focus {
max-width: 1024px;
}

.content-title {
max-width: 314px;
}

.focus-container__multitasking {
max-width: 649px;
margin-block-start: 40px;
}

.content-section-concentration {
display: grid;
grid-template-columns: repeat(3, 1fr);
max-width: 1024px;
}

.concentration-container {
gap: 20px;
padding-block-start: 20px;
}

.concentration-container__lot-of-questions {
grid-column: 1/2;
max-width: 315px;
}

.concentration-container__food {
grid-column: 2/3;
max-width: 315px;
}

.concentration-container__gadgets {
grid-column: 3/4;
max-width: 315px;
}

.content-section-concentration > .content-title {
max-width: 315px;
}

.content-section-concentration > .content__paragraph {
max-width: 315px;
}

.content-section-advise {
max-width: 1024px;
}

.advise-container__sky {
max-width: 649px;
grid-column: 2 / 3;
}

.content-section-advise .content__text-block {
grid-column: 2 / 4;
max-width: 974px;
}

.subtitle-decor {
max-width: 100%;
}

.gallery { 
max-width: 1024px;
}

.title__gallery-decor {
max-width: 984px;
}

.gallery__picture-list {
max-width: 984px;
grid-template-rows: 260px 326px 326px 130px;
}

.gallery__picture-list-item:first-child {
min-width: 650px;
height: 260px;
grid-column: 1 / 3;
}

.gallery__picture-list-item:nth-child(2) {
max-width: 314px;
max-height: 595px;
grid-column: 3 / 5;
grid-row: 1 / 3;
}

.gallery__picture-list-item:nth-child(3) {
grid-row: 2 / 4;
min-width: 315px;
min-height: 768px;
}

.gallery__picture-list-item:nth-child(4) {
min-width: 315px;
min-height: 315px;
}

.gallery__picture-list-item:nth-child(5) {
min-width: 649px;
min-height: 433px;
margin-top: -10px;
}

.footer.decorated-zone {
position: relative;
max-width: 1024px;
min-height: 768px;
justify-content: center;
align-items: center;
}
}
