/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Адаптив мобильная версия 375px dark */

.page {
font-family: var(--font-family);
justify-content: center;
align-items: center;
background-image: var(--header-bg-color);
background-color: var(--bg-color);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.header {
display: grid;
grid-template-rows: 1fr min-content 1fr;
padding: 10px 10px 10px 10px;
height: 100vh;
min-height: 668px;
}

.decorated-zone {
position: relative;
}

.decorated-zone::before {
content: ' ';
position: absolute;
top: 10px;
right: 10px;
height: 25px;
width: 25px;
border-top: 1px solid var(--accent-color); 
border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
content: ' ';
height: 25px;
width: 25px;
inset-inline-start: 10px;
bottom: 12px;
position: absolute;
border-left: 1px solid var(--accent-color); 
border-bottom: 1px solid var(--accent-color);
}

.rec {
position: absolute;
top: 13px;
right: 40px;
color: var(--accent-color);
}

.rec::after {
position: absolute;
top: 5px;
right: -20px;
content: '';
display: inline-flex;
inline-size: 9px;
block-size: 9px;
border-radius: 50%;
background-color: var(--accent-color);
filter: drop-shadow(0px 0px 4px var(--accent-color));
}

/*Список*/

.header__theme-menu {
justify-self: end;
line-height: 18px;
margin-block-start: 65px;
}

.header__theme-menu-list { 
display: flex;
flex-direction: column;
list-style: none;
flex-wrap: wrap;
text-decoration: none;
gap: 10px;
}

.header__theme-menu-item {
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-align: center;
color: var(--accent-color);
}

.header__theme-menu-button {
text-transform: lowercase;
color: var(--accent-color);
border: 1px solid transparent;
cursor: pointer;
min-height: 26px;
padding: 0 13px;
font-family: inherit;
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-align: center;
background-color: transparent;
user-select: none;
}

.header__theme-menu-button:focus {
outline: none;
}

.header__theme-menu-button:focus-visible {
border-bottom: 1px solid var(--accent-color);
outline: none;
}

.header__theme-menu-button:hover  {
border: 1px solid rgba(from var(--button-color) r g b / 40%);
}

.header__theme-menu-button_active {
border-color: var(--accent-color);
pointer-events: none;
}

/*Заголовок с тенью*/

.title {
font-weight: 700;
font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
line-height: 82.5%;
text-shadow: 4px 4px 0px var(--text-shadow-color); 
color: var(--header-color);
}

.title__text {
justify-self: end;
color: #000028;
margin-top: 55px;
}

.title__paragraph-text {
font-family: inherit;
font-weight: 700;
line-height: 23.4px;
background-color: var(--text-paragraph-bg);
font-size: 18px;
}

/*Контент с параграфами*/

main {
padding: 0 10px;
display: flex;
flex-direction: column;
}

.section {
display: grid;
gap: 20px;
margin-block-start: 40px;
margin-block-end: 10px;
}

.section__text-block {
display: flex;
flex-direction: column;
}

.section-title {
font-size: var(--main-font-size);
line-height: 23.4px;
color: var(--accent-color);
}

.title-decor {
background-color: var(--text-paragraph-bg);
color: var(--paragraph-decor-color);
display: block;
line-height: 23.4px;
font-size: 18px;
}

.subtitle-decor {
color: var(--paragraph-decor-color);
font-family: inherit;
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: 23.4px;
background-color: var(--text-paragraph-bg);
}

.section__paragraph {
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 23.4px;
color: var(--contet-paragraph-color);
padding-top: 10px;
}

.article__link-decoration {
text-decoration: none;
text-shadow: 2px 2px 0 var(--article-link-color);
color: var(--link-color);
}

.article__link-decoration:hover {
border-block-end: 1px solid var(--link-color);
}

.article__link-decoration:focus {
outline: none;
}

.article__link-decoration:focus-visible {
border: 1px solid var(--link-color);
appearance: none;
}

/*Галерея с картинками*/

.gallery {
display: flex;
flex-direction: column;
margin-top: 40px;
}

.title__gallery-decor {
min-width: 100%;
background-color: var(--text-paragraph-bg);
color: var(--paragraph-decor-color);
font-size: 18px;
}

.gallery__picture-list {
display: grid;
gap: 5px;
grid-template-columns: 1fr;
list-style: none;
margin-top: 10px;
}

.gallery__picture-list-item {
display: block;
object-position: center;
object-fit: cover;
block-size: 100%;
inline-size: 100%;
}

.gallery__picture-list-item .image__item {
width: 100%;
height: 100%;
object-fit: cover;
}

/*Футер*/

.footer {
height: 100vh;
min-height: 668px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
margin-block-start: 40px;
}

.title.footer__title {
text-shadow: 2px 2px 0 var(--text-shadow-color);
}


/*Адаптив для 768px*/

@media (width >=768px) {
  
.rec {
top: 23px;
right: 52px;
}

.rec::after {
right: -20px;
}

.decorated-zone::before {
top: 20px;
right: 20px;
}

.decorated-zone::after {
bottom: 20px;
left: 20px;
}

.header {
padding: 20px 20px 20px 0px;
}

.header__theme-menu {
margin-top: 170px;
}

.title__text {
margin-top: 163px;
max-width: 364px;
}

.main {
padding: 0 20px;
}

.section {
grid-template-columns: 1fr;
padding-top: 20px;
}

.section__text-block {
grid-column: 2 / 3;
max-width: 472px;
}

.section-concentration{
margin-block-start: 50px;
padding-bottom: 10px;
}

.section-concentration .section-title {
max-width: 236px;
}

.section-concentration .section__text-block {
grid-column: 1 / 3;
max-width: 100%;
}

.section-advise {
grid-template-columns: 1fr 2fr;
grid-template-rows: 1.2em repeat(3, auto);
margin-block-end: 75px;
}

.section-advise .section-title {
grid-row: span 2;
}

.section-advise .section__text-block {
margin-top: 1.5px;
max-width: 100%;
grid-column: 2;
}

.gallery {
margin-top: auto;
}

.gallery__picture-list {
grid-template-columns: repeat(3, 1fr);
gap: 20px;
margin-top: 1em;
}
 
.gallery__picture-list-item:first-child {
grid-column: 1 / 3;
}

.gallery__picture-list-item:nth-child(2) {
grid-column: 3 / 4;
grid-row: 1 / 3;
}

.gallery__picture-list-item:nth-child(3) {
grid-row: 2 / 4;
}

.gallery__picture-list-item:nth-child(4) {
grid-column: 2 / 3;
}

.gallery__picture-list-item:nth-child(5) {
grid-column: 2 / 4;
}

.footer {
margin-block-start: 50px;
}
}

/*Адаптив для 1024px*/

@media (width >=1024px) {

.header {
min-height: 768px;
position: relative;
align-items: start;
}

.header__theme-menu {
justify-self: center;
margin-block-start: inherit;
margin-left: 20px;
}

.header__theme-menu-list {
flex-direction: row;
gap: 10px;
}

.rec {
top: 23px;
right: 48px;
}

.title {
font-size: 157px;
}

.title__text {
max-width: 491px;
margin-top: 115px;
}

.title__paragraph-text {
padding-bottom: 0px;
}

.section-focus >.section__text-block:nth-child(n + 2) {
min-width: 650px;
}

.section-concentration {
grid-template-columns: repeat(3, 1fr);
}

.section-concentration .section__text-block {
grid-row: 2 / 3;
grid-column: auto;
}

.section-concentration > .section-title {
max-width: 315px;
grid-row: 1 / 1;
}

.title-decor {
max-width: 100%;
grid-column: 2 / 4;
}

.section-advise .section__text-block {
max-width: 100%;
grid-column: 2 / 4;
}

.footer {
margin-block-start: 50px;
min-height: 768px;
}
}